.container{
  display: flex;
  align-content: center;
}

.user-componant{
  margin-top: 50 ;
}

/* title */
.control{
  display: flex;
  justify-content: space-around;
}

.title-container {
  justify-content: space-around;
  text-wrap: nowrap;
  display: inline-block;
  min-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
} 

.title {
  align-self: center;
  min-width: 50px;
  margin-left: 0px;
}

.title-container::after {
  margin-left: 0px;
  margin-right: 0px;
  content: "";
  display: inline-block;
  width: 100%;
  max-width: 97%;
  height: 0.5px;
  background-color: darkgray;
  vertical-align: middle;
}

/* user box */
.search-box {
  max-width: 260px;
  max-height: 50px;
  text-align: "center";
}

/* taskboard */
.task-list-container {
  height: 500px;
  border: 0.5px solid black;
  border-radius: 5px;
  max-height: 500px;
  overflow-y: auto;
}

.task-board {
  border-bottom: 0.5px solid black;
  &:last-child {
    border-bottom: none;
  }
}

.mark-done-button {
  min-width: 125px !important;
  margin-left: 10px !important;
}

.css-cveggr-MuiListItemIcon-root {
  min-width: 0 !important;
  margin-right: 10px;
}

.no-data-container {
  display: flex;
  justify-content: center;
  align-items: top;
  height: 100%;
}

.no-data-text {
  font-size: 14px;
  color: darkgray;
}

.done-task-text {
  margin-top: 12px;
  font-size: 14;
}

.MuiContainer-root{
  margin: 0 !important;
}

.css-1oqqzyl-MuiContainer-root{
  max-width: 95% !important;
} 