.diviver-style {
  background-color: #ffffff; 
  height: 0.5px; 
  margin-top: 15px; 
  margin-bottom: 15px; 
}

.title-container {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title {
  margin-left: 0px;
  color: blue;
}

.title::after {
  margin-left: 3px;
  margin-right: 0px;
  content: '';
  display: inline-block;
  width: 95%;
  height: 1px; 
  background-color: black; 
  vertical-align: middle;
}